@charset "UTF-8";

@font-face {
  font-family: "DMSans";
  font-display: swap;
  src: url("../fonts/DMSans-Bold.woff") format("woff"), url("../fonts/DMSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "DMSans";
  font-display: swap;
  src: url("../fonts/DMSans-Medium.woff") format("woff"), url("../fonts/DMSans-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "DMSans";
  font-display: swap;
  src: url("../fonts/DMSans-Regular.woff") format("woff"), url("../fonts/DMSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "DMSans";
  font-display: swap;
  src: url("../fonts/DMSans-BoldItalic.woff") format("woff"), url("../fonts/DMSans-BoldItalic.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icons.woff") format("woff"), url("../fonts/icons.woff2#icons") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^=_icon-]:before,
[class*=" _icon-"]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^=_icon-]:before,
[class*=" _icon-"]:before {
  display: block;
}

._icon-mail:before {
  content: "";
  color: #fff;
}

._icon-vk:before {
  content: "";
  color: #7fbeea;
}

._icon-instagram:before {
  content: "";
  color: #7fbeea;
}

._icon-facebook:before {
  content: "";
  color: #7fbeea;
}

._icon-arrow-down:before {
  content: "";
}

._icon-arrow-link:before {
  content: "";
  color: #000;
}

._icon-arrow-link2:before {
  content: "";
  color: #09A66D;
}

._icon-location:before {
  content: "";
  color: #fff;
}

._icon-phone:before {
  content: "";
  color: #fff;
}

._icon-share:before {
  content: "";
  color: #fff;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html {
  font-size: 18px;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "DMSans";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "DMSans";
  font-size: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: inherit;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
  color: #000;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  overflow-x: hidden;
  color: #000;
  font-family: "DMSans";
  font-weight: 400px;
  width: 1920;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 1700px;
  padding: 0px 100px;
}

.header {
  width: 100%;
  top: 0;
  left: 0;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "DMSans";
}

.header__wrapper {
  width: 100%;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding-left: 80px;
  padding-right: 80px;
}

.header__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 286px;
          flex: 0 1 286px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__function {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 40%;
          flex: 0 1 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 40%;
          flex: 0 1 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10;
  width: 100%;
  height: 100%;
}

.menu__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  overflow: auto;
  top: 0;
  left: 0;
  font-family: "DMSans";
  font-size: 18;
}

.menu__item {
  font-size: 18px;
  margin-right: 20px;
  margin-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  padding: 25px 0px;
}

.menu__item a {
  color: #000;
  text-align: center;
}

.menu__item a:hover {
  border-bottom: 1px solid #09a66d;
  color: #09a66d;
}

.icon-menu {
  display: none;
}

.function__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.function__item {
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 20px;
  border: 1px solid #f3fbf8;
  background-color: #f3fbf8;
  margin: 0px 20px 0px 0px;
}

.function__item img {
  height: 18.1px;
  width: 18.5px;
}

.function__item:hover {
  border: 1px solid #09a66d;
  background-color: inherit;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  color: #fff;
}

.feedback-slider {
  max-width: 1920;
  height: 730px;
}

.feedback-slider__container {
  position: relative;
  max-height: 100%;
  margin: 0px 100px 0px 100px;
}

.slider-feedback {
  width: 100%;
  max-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.slider-feedback__body {
  min-width: 0;
  max-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.slider-feedback__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-height: 100%;
}

.slider-feedback__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 70%;
          flex: 0 1 70%;
  padding: 0px 20px 0px 20px;
}

.slider-feedback__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-height: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 30%;
          flex: 0 1 30%;
  width: 100%;
}

.slider-feedback__image img {
  height: 100%;
  border-radius: 50%;
  background-color: #F3FBF8;
  border: 1px solid #000;
}

.footer {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button {
  background-color: #09a66d;
  height: 40px;
  width: 160px;
  color: #fff;
  border-radius: 8px;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 15px 0px 15px 0px;
  padding: 0px 10px 0px 10px;
  border: 1px solid #09a66d;
  font-family: "DMSans";
  font-weight: 400px;
}

.button:hover {
  border: 1px solid #09a66d;
  background-color: inherit;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  color: #000;
}

.button-arrow {
  background-color: #09a66d;
  width: 64px;
  height: 64px;
  color: #000;
  border-radius: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 15px 0px 15px 0px;
  padding: 0px 10px 0px 10px;
  border: 1px solid #09a66d;
}

.button-arrow:hover {
  border: 1px solid #09a66d;
  background-color: inherit;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

h1 {
  font-weight: 700;
  font-family: "DMSans";
  font-size: 70px;
}

h2 {
  font-size: 70px;
  font-weight: 700;
  font-family: "DMSans";
  font-weight: 700;
}

h3 {
  font-size: 16px;
  font-weight: 700;
  color: #616161;
}

p {
  font-size: 18px;
  color: #555555;
  line-height: 28px;
  font-weight: 400;
  padding: 10px 0px 10px 0px;
}

.page__main {
  min-height: 800px;
  z-index: 5;
}

.main-page {
  background-image: url("../img/main/main_bg.webp");
  background-repeat: no-repeat;
  background-position: -190px 0;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.row-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  width: 100%;
}

.row-page__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  z-index: 1;
  position: absolute;
  -webkit-transform: translate(-60%, -8%);
      -ms-transform: translate(-60%, -8%);
          transform: translate(-60%, -8%);
  overflow: visible;
}

.row-page__content {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  z-index: 5;
  margin: 90px 15px 0px 15px;
  max-width: 80%;
}

.row-page__content p {
  font-size: 18px;
  font-weight: 400;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content__title {
  text-align: center;
}

.content__text {
  max-width: 640px;
  text-align: center;
}

.content__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content__button p {
  font-weight: 700;
  color: #222222;
  margin: 0px 20px 0px 0px;
}

.row-page-bottom {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.row-page-bottom__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 70%;
          flex: 0 1 70%;
  margin: 0px 50px 0px 50px;
  background: #f3fbf8;
}

.row-page-bottom__image img {
  max-height: 100%;
  width: 100%;
}

.row-page-bottom__items {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 30%;
          flex: 0 1 30%;
}

.row-page-bottom__item {
  height: 114px;
  width: 250px;
  background-color: #fff;
  margin: 30px 0px 30px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-row-page__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 40%;
          flex: 0 1 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.item-row-page__bg {
  background-color: #F3FBF8;
  width: 56px;
  height: 56px;
  border-radius: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.item-row-page__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 60%;
          flex: 0 1 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.item-row-page__content p {
  padding: 0px 0px 0px 0px;
}

.item-row-page__content h3 {
  font-size: 48px;
  font-family: "DMSans";
  font-weight: 400;
  color: #000;
}

.item-row-page__content p {
  font-size: 18px;
  font-family: "DMSans";
  font-weight: 400;
  color: #000;
}

._no-webp .the-best{
  background-image: url("../img/best/line.png"); }

.the-best {
  z-index: 6;
  min-height: 1054px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-repeat: no-repeat;
  background-position: 450px -100px;
}

.the-best__wrapper {
  max-width: 70%;
  padding: 135px 0px 35px 94px;
  min-height: 345px;
}

.the-best__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
}

.the-best__text p {
  font-size: 18px;
  font-weight: 400;
}

.service-best {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 560px;
  margin: 0px 95px 0px 95px;
}

.service-best__items {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.service-best__item {
  padding: 0px 30px 0px 30px;
  width: 500px;
  height: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F3FBF8;
}

.service-best__item:nth-child(odd) {
  background-color: #fff;
}

.service-best__arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 35px;
  width: 100%;
  text-align: center;
  padding: 30px 0px 30px 0px;
}

.service-best__arrow a {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  color: #F3FBF8;
}

.service-best__icon {
  height: 80px;
  min-width: 80px;
  border-radius: 80px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 20px 0px 20px;
}

.service-best__icon:last-child {
  background-color: #F3FBF8;
}

.service-best__icon:first-child {
  background-color: #F3FBF8;
}

.service-best__bg {
  background-color: #fff;
  width: 80px;
  height: 80px;
  border-radius: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.service-best__title h3 {
  font-size: 26px;
  color: #222222;
  padding-bottom: 15px;
}

.service-best__text p {
  font-size: 18px;
  color: #555555;
}

.service-best__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.explore {
  min-height: 832px;
  background-color: #F3FBF8;
  padding: 85px 100px 85px 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.explore__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 40%;
          flex: 0 1 40%;
}

.explore__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 60%;
          flex: 0 1 60%;
  padding: 45px 50px 0px 50px;
}

.explore__text {
  padding: 50px 0px 50px 0px;
}

.explore__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.explore__button p {
  font-weight: 700;
  color: #222222;
  margin: 0 20px 0 0;
}

.explore__fresh {
  position: absolute;
  -webkit-transform: translate(30%, -40%);
      -ms-transform: translate(30%, -40%);
          transform: translate(30%, -40%);
}

@media (min-width: 991.98px) {
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin: 0px 0px 0px 0px;
  }

  .feedback-slider__container::before {
    content: "";
    position: absolute;
    top: 0;
    width: 100vw;
    right: 376px;
    height: 100%;
  }
}

@media (max-width: 1700px) {
  .header__body {
    padding-left: calc(25px + 55 * ((100vw - 320px) / 1380));
  }

  .header__body {
    padding-right: calc(25px + 55 * ((100vw - 320px) / 1380));
  }

  .menu__item {
    margin-right: calc(5px + 15 * ((100vw - 320px) / 1380));
  }

  .menu__item {
    margin-left: calc(5px + 15 * ((100vw - 320px) / 1380));
  }

  .button {
    height: calc(30px + 10 * ((100vw - 320px) / 1380));
  }

  .button {
    width: calc(80px + 80 * ((100vw - 320px) / 1380));
  }

  .button-arrow {
    width: calc(64px + 0 * ((100vw - 320px) / 1380));
  }

  .button-arrow {
    height: calc(64px + 0 * ((100vw - 320px) / 1380));
  }

  h1 {
    font-size: calc(40px + 30 * ((100vw - 320px) / 1380));
  }

  h2 {
    font-size: calc(40px + 30 * ((100vw - 320px) / 1380));
  }

  p {
    font-size: calc(14px + 4 * ((100vw - 320px) / 1380));
  }
}

@media (max-width: 991.98px) {
  .header {
    height: 115px;
  }

  .menu__body {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: auto;
    top: 0;
    left: -100%;
    background-color: #1b1f33e5;
    -webkit-transition: left 0.3s ease 0s;
    -o-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    padding: 70px 15px 30px 15px;
  }

  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 50px;
    top: 0;
    left: -100%;
    -webkit-transition: left 0.3s ease 0s;
    -o-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    z-index: 2;
  }

  .menu__body._active {
    left: 0;
  }

  .menu__body._active::before {
    left: 0;
  }

  .menu__item {
    font-size: 30px;
  }

  .menu__item a {
    color: #fff;
  }

  .icon-menu {
    margin-left: 42px;
    z-index: 50;
    display: block;
    position: relative;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 20px;
            flex: 0 0 20px;
    height: 20px;
    cursor: pointer;
  }

  .icon-menu span {
    top: calc(50% - 1px);
    left: 0px;
    position: absolute;
    width: 100%;
    height: 10%;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #000;
  }

  .icon-menu span:first-child {
    top: 0px;
  }

  .icon-menu span:last-child {
    top: auto;
    bottom: 0px;
  }

  .icon-menu._active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
    background-color: #fff;
  }

  .icon-menu._active span:first-child {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: calc(50% - 0.9px);
  }

  .icon-menu._active span:last-child {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: calc(50% - 0.9px);
  }

  .row-page__image {
    -webkit-transform: translate(-30%, -8%);
        -ms-transform: translate(-30%, -8%);
            transform: translate(-30%, -8%);
  }

  .row-page-bottom {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .row-page-bottom__image {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

@media (max-width: 991.98px) and (max-width: 1700px) {
  .icon-menu {
    margin-left: calc(25px + 17 * ((100vw - 320px) / 1380));
  }
}

@media (max-width: 767.98px) {
  ._container {
    margin: 0px 20px 0px 20px;
  }

  .header {
    height: 100px;
  }

  p {
    padding: 0px 0px 0px 0px;
    line-height: 30px;
  }

  .row-page__image {
    -webkit-transform: translate(-10%, -8%);
        -ms-transform: translate(-10%, -8%);
            transform: translate(-10%, -8%);
  }

  .row-page-bottom__items {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 767.98px) and (max-width: 1700px) {
  p {
    line-height: calc(20px + 10 * ((100vw - 320px) / 1380));
  }
}

@media (max-width: 479.98px) {
  .menu {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 40%;
            flex: 0 1 40%;
  }
}

._webp .the-best{ background-image: url(../img/best/line.webp); }