.header {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	min-height: 40px;
	// .header__wrapper
	&__wrapper {
		transition: background-color 0.3s ease 0s;
		position: fixed;
		width: 100%;
		left: 0;
		top: 0;
		z-index: 50;
	}

	// .header__container

	&__container {
	}

	// .header__body
	&__body {
		transition: min-height 0.3s ease 0s;
		display: flex;
		align-items: center;
		padding: 38px 0;
		min-height: 100px;
		position: relative;
		@media (max-width: $md2+px) {
			min-height: 80px;
		}
		@media (max-width: $md3+px) {
			min-height: 50px;
		}
	}

	// .header__logo
	&__logo {
		color: #000;
		font-family: "Tahu";
		font-weight: 700;
		font-size: 60px;
		position: relative;
		z-index: 5;
		flex: 0 0 calc(315 / 1700 * 100%);
	}

	// .header__menu
	&__menu {
		display: flex;
		flex: 0 1 710px;
	}

	// .header__social
	&__social {
		display: flex;
	}
}

.facebook {
}
.instagramm {
}
.vk {
}
