.footer {
	min-height: 351px;
	//text-align: center;
	//margin: 0 auto;
	&__container {
		max-width: 1125px;
		display: flex;
		justify-content: center;
		margin: 0 25px 0 25px;
		flex-wrap: wrap;
	}
}
.content-footer {
	min-height: 291px;
	width: 100%;
	background-color: #2b2f35;
	display: flex;
	justify-content: center;

	//align-items: center;
	&__column {
		flex: 0 1 33.333%;
		flex-direction: column;
		display: flex;
		align-items: start;
		@media (max-width: $md3+px) {
			flex: 0 1 70%;
			justify-content: center;
			align-items: center;
		}
		&:last-child {
			padding-bottom: 15px;
		}
	}

	&__title {
		padding-right: 20px;
		padding-top: 65px;
		font-size: 16px;
		font-weight: 900;
		color: #b5a263;
	}
	&__text {
		padding-top: 35px;
		padding-right: 20px;
		font-size: 16px;
		color: #6e7279;
		line-height: 24px;
		input {
			padding: 0 0 0 14px;
			background-color: #2b2f35;
			font-size: 16px;
			font-family: "Open Sans";
			border: 1px solid #6e7279;
			width: 284px;
			height: 35px;
			margin: 0;
		}
	}
	&__button {
		margin-top: 10px;
		height: 40px;
		width: 300px;
		background-color: #b5a263;
		border: none;
		color: #fff;
	}
	.element-2 {
	}
}
.social-footer {
	height: 50px;
	width: 100%;
	margin: 0;
	background-color: #24282f;
	display: flex;
	justify-content: center;
	align-items: center;
	&__container{
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&__content {
		max-width: 1125px;
		display: flex;
		flex: 0 1 50%;
	 	justify-content: space-between;
	}
	&__column-1 {
		color: #fff;
		display: flex;
		justify-content: start;
		align-items: center;
	}
	&__column-2 {
		display: flex;
		justify-content: end;
		align-items: center;
		color: #fff;
	}
}
