//<МИКСИНЫ>===================================
@import "mixins";
//<МИКСИНЫ>===================================

//<ШРИФТЫ >===================================
@import url("https://fonts.googleapis.com/css?family=Open+Sans:regular,500,700,900&display=swap&subset=cyrilic-ext");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap");
//@import "fonts";
//<Подключаем шрифты >===================================

//<Иконочные шрифты >===================================

//<Шрифт по умолчанию >===================================
$fontFamily: "Open+Sans";
//<ШРИФТЫ >===================================

//<ПЕРЕМЕННЫЕ >===================================
$minWidth: 320px;
$maxWidth: 1900px;
$maxWidthContainer: 1392px;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
//<ПЕРЕМЕННЫЕ >===================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===================================
@import "null";

body {
	color: #000;
	font-size: 14px;
	font-family: $fontFamily;
	&._lock {
		overflow: hidden;
	}
}

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===================================

//<ОБОЛОЧКА>===================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

//<ОБОЛОЧКА>===================================

//ОСНОВНАЯ СЕТКА>===================================
._container {
	max-width: $maxWidthContainer;
	margin: 0 auto;
	padding: 0px 20px;
	@media (max-width: $md3+px) {
		padding: 0 10px;
	}
}
a {
	color: #fff;
}
.button {
	font-size: 22px;
	text-transform: uppercase;
	height: 50px;
	width: 175px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: #b5a263 2px solid;
	border-radius: 30px;
	font-family: $fontFamily;
	text-align: center;
}
h2 {
	font-size: 24px;
	text-transform: uppercase;
	text-align: center;
	padding: 0px 0px 30px 0px;
	font-family: "Raleway";
}
.line {
	width: 77px;
	border-bottom: 2px solid#b5a263;
}
.link {
	color: #000;
	font-size: 16px;
	font-weight: 500;
	transition: color 1s ease-out 0.2s;
	transition: border-bottom 1s ease-out 0.2s;
	line-height: 100px;
	&:hover {
		color: #b5a263;
		border-bottom: 1px solid #b5a263;
	}
}
.title {
	padding-top: 100px;
	font-size: 25px;
	text-transform: uppercase;
	@media (max-width: $md3+px) {
		padding-top: 40px;
	}
}
.content {
	font-size: 16px;
	text-align: center;
	padding: 30px 30px 0px 30px;
	line-height: 27px;
}

//ОСНОВНАЯ СЕТКА>===================================

//ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI ФОРМ И ГОТОВЫХ КЛАССОВ>===================================
//@import "forms";
//@import "ui";
//ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI ФОРМ И ГОТОВЫХ КЛАССОВ>===================================

//ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>===================================
//@import "pagging";
//@import "popup";
@import "header";
//@import "footer";
//@import "home";
//@import "catalog";
//@import "product";
@import "swiper-bundle.min";

//ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>===================================

//ОСНОВНОЙ БЛОК====================================================================
//===================services========================
.services {
	min-height: 687px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	// .services__row
	&__row {
		min-height: 343px;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
	}
	// .services__content
}
.column-services {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 80%;

	// .column-services__el
	&__el {
		width: 200px;
		height: 354px;
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		min-width: 285px;
	}
}
.el-services {
	margin: 0px 10px 0px 10px;
	:last-child {
		margin: 0px 0px 0px 0px;
	}
	// .el-services__image
	&__image {
		padding-bottom: 40px;
	}
	// .el-services__title
	&__title {
		padding-bottom: 23px;
		font-size: 16px;
		text-transform: uppercase;
		font-family: "Raleway";
	}
	// .el-services__content
	&__content {
		font-size: 16px;
		line-height: 27px;
	}
}
//===================who========================
.who {
	min-height: 724px;
	width: 100%;
	background-color: #f7f7f7;
	display: flex;
	justify-content: center;
	align-items: center;
}
.who-wrapper {
	min-height: 465px;
	margin: 119px 40px 119px 40px;
	display: flex;
	box-shadow: 0px 0px 50px 0px rgba(231, 231, 231, 0.8);
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;
}
.who-column,
.column {
	flex: 0 1 50%;
	padding: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	@media (max-width: $md1+px) {
		//width: 100%;
	}
	img {
		max-height: 465px;
		min-width: 100%;
		min-height: 100%;
		//object-fit: cover;
		@media (max-width: $md3+px) {
			//max-height: 400px;
		}
	}
	&__title {
		padding: 31px 0px 31px 0px;
	}
	&__content,
	.column-content {
		display: block;
		padding: 31px 40px 71px 40px;
		line-height: 26px;
		font-size: 16px;
	}
	// .who-column__line
	&__line {
		width: 77px;
		border-bottom: 2px solid#b5a263;
	}
	// .who-column__button
	&__button {
		color: #b5a263;
		font-size: 16px;
		margin: 20px;
		//margin-bottom: 123px;
	}
}
//===================RECENT========================
.recent {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	//max-width: 1017px;
}
.row-head {
	min-width: 301px;
	display: flex;
	flex-direction: column;
	align-items: center;
	&__title {
		padding: 120px 0px 0px 0px;
	}
	&__content,
	ul {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		width: 100%;
	}
	&__li {
		text-transform: uppercase;
		font-family: $fontFamily;
		padding: 0px 22px 0px 22px;
		font-size: 16px;
		//height: 50px;
	}
}
.row-image {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	&__el {
		flex: 0 1 25%;
		//min-width: 475px;
		height: 360px;
		img {
			object-fit: cover;
			width: 100%;
			height: 100%;
		}
		@media (max-width: $md2+px) {
			flex: 0 1 33.333%;
		}
		@media (max-width: $md3+px) {
			flex: 0 1 50%;
		}
		@media (max-width: $md4+px) {
			flex: 0 1 100%;
		}
	}
}
.row-button {
	padding-top: 60px;
	padding-bottom: 120px;
}
.button {
	color: #b5a263;
	background-color: #fff;
	font-size: 16px;
	margin: 20px;
	text-transform: uppercase;
}
//===================HOW WE WORK========================
.how {
	background-color: #f7f7f7;
}
.how-container {
	display: flex;
	flex-wrap: wrap;
	min-height: 685px;
}
.how-column {
	display: flex;
	flex: 0 1 50%;
	@media (max-width: $md3+px) {
		flex: 0 1 100%;
		padding-top: 20px;
		justify-content: center;
		align-items: center;
	}
	&__left {
		flex: 0 1 50%;
		display: flex;
		flex-direction: column;
		@media (max-width: $md3+px) {
			flex: 0 1 100%;
			padding-bottom: 20px;
		}
		@media (max-width: $md2+px) {
			padding-left: 20px;
			flex: 0 1 45%;
		}
	}
	&__title {
		display: flex;
		padding-top: 120px;
	}
	&__content {
		padding-top: 30px;
		line-height: 33px;
		font-size: 16px;
		padding-bottom: 49px;
	}
}
.item {
	font-size: 16px;
	ol {
		list-style-position: inside;
		list-style-type: none;
		counter-reset: num;
	}
	li {
		border-top: 1px solid #b5a263;
		margin: 0;
		padding: 35px 0px 35px 0px;
		&:last-child {
			border-bottom: 1px solid #b5a263;
		}
		&::before {
			content: counter(num) ". ";
			counter-increment: num;
			color: #b5a263;
			font-size: 18px;
			font-weight: 900;
		}
	}
}
//===================statistic========================
.statistic {
	min-height: 360px;
	background-color: #272b32;
	&__container {
		max-width: 1195px;
		display: flex;
		flex-wrap: wrap;
		flex: 0 1 33.333%;
		justify-content: space-between;
		@media (max-width: $md3+px) {
			flex: 0 1 100%;
			padding-top: 20px;
			justify-content: center;
			align-items: center;
		}
	}
	&__column {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		max-width: 296px;
	}
}
.column-statistic {
	span {
		padding-top: 75px;
		color: #b5a263;
		font-size: 24px;
		font-weight: 700;
		@media (max-width: $md3+px) {
			padding-top: 25px;
		}
	}
	&__title {
		padding-top: 39px;
		padding-bottom: 23px;
		color: #fff;
		font-size: 16px;
		text-transform: uppercase;
	}
	&__content {
		padding-top: 24px;
		color: #fff;
		font-size: 16px;
		text-align: center;
		line-height: 15px;
		@media (max-width: $md3+px) {
			&:last-child {
				padding-bottom: 25px;
			}
		}
	}
}
//===================MEET========================
.meet {
	min-height: 650px;
	background-color: #f7f7f7;
	&__container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	&__column {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		max-width: 1125px;
	}
}
.feedback-meet {
	flex: 0 1 50%;
	max-width: 615px;
	max-height: 194px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 79px;
	@media (max-width: $md3+px) {
		flex: 0 1 100%;
		padding-top: 20px;
		justify-content: center;
		align-items: center;
	}
	&__content {
		padding: 0px 20px 0px 20px;
	}
	&__name {
		font-size: 18px;
		font-weight: 700;
		text-transform: uppercase;
		color: #b5a263;
	}
	&__work {
		padding-top: 25px;
		font-size: 16px;
	}
	&__text {
		padding-top: 20px;
		font-size: 16px;
	}
}
//===================FEATURES========================
.features {
	&__container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	&__content {
		max-width: 892px;
	}
}
.text-features {
	display: flex;
	width: 100%;
	padding-top: 50px;
	&__column {
		display: flex;
		flex-direction: column;
		flex: 0 1 50%;
		justify-content: center;
		align-items: center;
	}
	&__el {
		max-width: 429px;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 70px;
	}
	&__content {
		padding-left: 17px;
		font-size: 16px;
		line-height: 26px;
	}
}
