.header {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;

	// .header__wrapper
	&__wrapper {
		position: fixed;
		width: 100%;
		top: 0;
		left: 0;
		z-index: 50;
	}

	// .header__container
	&__container {
	}

	// .header__body
	&__body {
		display: flex;
		align-items: center;
		padding: 5px 0;
		min-height: 125px;
	}
	// .header__main
	&__main {
		display: flex;
		align-items: center;
		flex: 0 0 494 / 1240 * 100%;
	}

	// .header__logo
	&__logo {
		color: #000;
		font-weight: 700;
		font-size: 24px;
		line-height: 29 /24 * 100%;
	}

	// .header__menu
	&__menu {
	}

	// .header__search
	&__search {
	}

	// .header__actions
	&__actions {
	}
}

.menu {
	flex: 0 1 420px;
	// .menu__body

	&__body {
	}

	// .menu__list
	&__list {
		@media (min-width: $md3+px) {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-evenly;
		}
	}

	// .menu__item

	&__item {
	}

	// .menu__link

	&__link {
	}

	// .menu__arrow

	&__arrow {
	}

	// .menu__sub-list

	&__sub-list {
	}

	// .menu__sub-item

	&__sub-item {
	}

	// .menu__sub-link

	&__sub-link {
	}
}
.actions-header {
	// .actions-header__item

	&__item {
		// .actions-header__item_favorites

		&_favorites {
		}

		// .actions-header__item_user

		&_user {
		}
	}
}
.cart-header {
	// .cart-header__icon

	&__icon {
	}

	// .cart-header__body

	&__body {
	}

	// .cart-header__list

	&__list {
	}
}
.cart-list {
}
.icon-menu {
}
