//<МИКСИНЫ>===================================
@import "mixins";
//<МИКСИНЫ>===================================

//<ШРИФТЫ >===================================
@import "fonts";
//<Подключаем шрифты >===================================

//<Иконочные шрифты >===================================
@import "icons";
//<Иконочные шрифты >===================================

//<Шрифт по умолчанию >===================================
$fontFamily: "Gilroy";
$fontSize: 16;
//<ШРИФТЫ >===================================

//<ПЕРЕМЕННЫЕ >===================================
$minWidth: 320px;
$maxWidth: 1440px;
$maxWidthContainer: 1270;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

$mainColor: #3a3a3a;
$orangeColor: #e89f71;
$grayColor: #898989;
$darkGrayColor: #616161;
//<ПЕРЕМЕННЫЕ >===================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===================================
@import "null";
@import "popup";

body {
	color: $mainColor;
	font-family: $fontFamily;
	&._lock {
		overflow: hidden;
	}
}

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===================================

//<ОБОЛОЧКА>===================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

//<ОБОЛОЧКА>===================================

//<ОСНОВНАЯ СЕТКА>===================================
._container {
	max-width: $maxWidthContainer + px;
	padding: 0 15px;
	margin: 0 auto;
}

.page {
	// .page__main-slider
	flex: 1 1 auto;
	&__main-slider {
	}
}

//Главный слайдер
.main-slider {
	// .main-slider__container
	background-color: #fcf8f3;
	&__container {
	}

	// .main-slider__body

	&__body {
	}

	// .main-slider__content

	&__content {
	}
}

.content-main {
	// .content-main_button

	&_button {
	}

	// .content-main__title

	&__title {
	}

	// .content-main__text

	&__text {
	}
}
.slider-main {
	// .slider-main__controls

	&__controls {
	}

	// .slider-main__body

	&__body {
	}

	// .slider-main__slide

	&__slide {
	}

	// .slider-main__image

	&__image {
	}

	// .slider-main__content

	&__content {
	}

	// .slider-main__title

	&__title {
	}

	// .slider-main__text

	&__text {
	}

	// .slider-main__price

	&__price {
	}
}
.controls-slider-main {
	// .controls-slider-main__dotts

	&__dotts {
	}

	// .controls-slider-main__arrows

	&__arrows {
	}
}

//ОСНОВНАЯ СЕТКА>===================================

//ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI ФОРМ И ГОТОВЫХ КЛАССОВ>===================================
//@import "forms";
@import "ui";
//ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI ФОРМ И ГОТОВЫХ КЛАССОВ>===================================

//ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>===================================
//@import "popup";
@import "header";
@import "footer";
//@import "home";
//ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>===================================
