//Основной блок========================================================
._footer-title {
	@include adaptiv-value("font-size", 24, 20, 1);
	line-height: 29 / 24 * 100%;
	color: #000;
	font-weight: 700;
}
//</Основной блок========================================================
