//<МИКСИНЫ>===============================================================================================
@import "mixins";
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
@import "fonts";
//</Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================
@import "icons";
//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$font-Family: "Poppins";
$fontSize: 16;
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>===========================================================================================================
$minWidth: 320px;
$maxWidth: 1920;
$maxWidthContainer: 1700;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

$mainColor: #000;
$orangeColor: #ff7300;
$headerColor: #222533;
$darkGrayColor: #616161;
$redColor: #ff3c2d;
$yelowColor: #ffcb0f;
$logoColor: #7fbeea;

//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null";
body {
	color: $mainColor;
	&._lock {
		overflow: hidden;
	}
	font-family: $font-Family;
	width: $maxWidth;
}

//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
._container {
	max-width: $maxWidthContainer + px;
	padding: 0px 30px; //чтобы не прилипало к краям браузера
	@media (max-width: $md3+px) {
		margin: 0px 20px 0px 20px;
	}
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
//@import "forms";
@import "ui";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
//@import "datepicker";
//@import "lightgallery"; //галерея в popup
//@import "pagging";
@import "popup";
@import "header";
@import "sliders";
//@import "footer";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================
.button {
	background-color: $logoColor;
	height: 50px;
	width: 200px;
	color: #fff;
	border-radius: 25px;
	font-size: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 15px 0px 15px 0px;
	padding: 0px 10px 0px 10px;
	border: 1px solid $logoColor;
	text-transform: uppercase;
	font-family: $font-Family;
	font-weight: bold;

	&:hover {
		border: 1px solid $logoColor;
		background-color: inherit;
		transition: all 0.5s ease 0s;
		color: #fff;
	}
}
h1 {
	font-size: 40px;
	font-weight: 700;
	font-family: $font-Family;
}
h2 {
	@include adaptiv-value("font-size", 40, 30, 1);
	color: $logoColor;
	text-transform: uppercase;
	font-weight: bold;
	margin: 0px 0px 40px 0px;
	padding: 70px 0px 40px 0px;
	margin: 0px 0px 0px 0px;
	@media (max-width: $md2+px) {
		padding: 40px 0px 20px 0px;
	}
	@media (max-width: $md3+px) {
		margin: 0px 0px 10px 0px;
	}
}
h3 {
	font-size: 16px;
	font-weight: 700;
	color: $darkGrayColor;
}
p {
	@include adaptiv-value("font-size", 30, 20, 1);
	color: $headerColor;
	line-height: 30px;
	font-weight: bold;
	padding: 10px 0px 10px 0px;
	color: $darkGrayColor;
	@media (max-width: $md3+px) {
		padding: 0px 0px 0px 0px;
		@include adaptiv-value("line-height", 30, 20, 1);
	}
}
//</ОСНОВНОЙ БЛОК>====================================================================================================

//<Главный СЛАЙДЕР>=======================================================================================
.page {
	flex: 1 1 auto;
	margin-top: 100px;
	@media (max-width: $md2+px) {
		margin-top: 80px;
	}
	@media (max-width: $md3+px) {
		margin-top: 50px;
	}
	// .page__main-slider
	&__main-slider {
	}
}

//<About>=============================================================================================
.about {
	min-height: 500px;
	display: flex;
	justify-content: center;

	//about-container
	&__container {
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		flex-wrap: wrap;
		margin-top: 20px;
		margin-bottom: 20px;
	}
	&__content {
		flex: 0 1 50%;
		//text-align: center;
		font-family: $font-Family;
		text-align: center;
		@media (max-width: $md3+px) {
			flex: 0 1 90%;
		}
	}
	&__image {
		flex: 0 1 50%;
		padding: 10px 0px 10px 0px;
		display: flex;
		align-items: center;
		justify-content: center;
		background: url("../img/about/about_bg.png") no-repeat;
	}
	&__button {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.button-about {
		color: #000;
		//width: auto;
	}
}
//</About>=============================================================================================

//<Why>=============================================================================================
.why {
	min-height: 600px;
	background: #f2f7fa;
	display: flex;
	justify-content: center;

	// .why__container
	&__container {
	}

	// .why__title
	&__title {
		text-align: center;
	}

	// .why__content
	&__content {
		display: flex;
		justify-content: center;
		align-items: center;
		flex: 0 1 50%;
		font-size: 15px;
		font-weight: 400;
		@media (max-width: $md3+px) {
			flex: 0 1 80%;
		}
		p {
			width: 70%;
			text-align: center;
			padding: 0px 0px 10px 0px;
			margin: 0px 0px 0px 0px;
			font-family: $font-Family;
			font-size: 15px;
			font-weight: 400;
			line-height: 18px;
		}
	}

	// .why__columns
	&__columns {
	}
}
.columns-why {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 55px;
	@media (max-width: $md2+px) {
		margin-top: 35px;
	}
	// .columns-why__column

	&__column {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		flex: 0 1 23%;
		padding: 10px 20px 10px 20px;
		@media (max-width: $md2+px) {
			flex: 0 1 45%;
		}
		@media (max-width: $md3+px) {
			flex: 0 1 100%;
		}
	}
}
.column {
	top: 0;
	left: 0;
	margin-top: 30px;

	&__title {
		//padding-top: 40px;
		h3 {
			text-transform: uppercase;
			margin: 50px 0px 30px 0px;
			text-align: center;
			@media (max-width: $md2+px) {
				margin: 50px 0px 15px 0px;
			}
		}
	}
	&__content {
		p {
			text-align: center;
			padding: 0px 0px 10px 0px;
			margin: 0px 0px 0px 0px;
			font-family: $font-Family;
			font-size: 15px;
			font-weight: 400;
			line-height: 18px;
		}
	}
	&__image {
		width: 100px;
		height: 100px;
		border-radius: 100%;
		box-shadow: 0 0 0 10px #56aae6, 0 0 0 20px $logoColor, 0 0 0 30px #a4cdeb;
		padding: 29px;
		font-size: 45px;
		top: 0;
		left: 0;
		display: flex;
		justify-self: center;
		align-items: center;

		.fa {
			color: $darkGrayColor;
		}
	}
}
//</Why>=============================================================================================

//<portfolio>=============================================================================================
.portfolio {
	min-height: 500px;
	width: 100%;
	//margin-bottom: 50px;
	padding-bottom: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: url("../img/portfolio/portfolio_bg.jpg");
	background-size: cover;
	position: relative;
	&::before {
		position: absolute;
		content: "";
		height: 100%;
		width: 100%;
		background: #a4ceeb9a;
		top: 0;
		left: 0;
	}
	// .portfolio__container
	&__container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	// .portfolio__title
	&__title {
		text-align: center;
		h2 {
			color: black;
		}
		z-index: 5;
	}
}
.cards-portfolio {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-wrap: wrap;
	max-width: 100%;
	p {
		text-align: center;
		font-size: 16px;
		width: 90%;
		line-height: 18px;
		text-transform: uppercase;
	}
	&__content {
		display: flex;
		justify-content: center;
		padding: 10px 0px 20px 0px;
		p {
			color: #000;
		}
		padding-bottom: 0px;
	}

	// .cards-portfolio__item
	&__item {
		flex: 0 1 32%;
		max-height: 100%;
		width: 100%;
		position: relative;

		@media (max-width: $md3+px) {
			flex: 0 1 100%;
			margin-top: 15px;
			&:first-child {
				margin-top: 0px;
			}
		}
		img {
			max-height: 100%;
			width: 100%;
			object-fit: cover;
			object-position: center;
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
		}
		@media (any-hover: hover) {
			&:hover {
				.cards-portfolio__actions {
					opacity: 1;
					visibility: visible;
				}
			}
		}
	}
	// .cards-portfolio__actions
	&__actions {
		display: flex;
		justify-content: center;
		align-items: center;
		&:hover {
		}
		@media (max-width: $md3+px) {
			padding: 0px 0px 0px 0px;
		}

		@media (any-hover: none) {
			padding: 15px 0px 0px 0px;
		}
		@media (any-hover: hover) {
			opacity: 0;
			visibility: hidden;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			transition: all 0.5s ease 0s;
			background-color: rgba(3, 33, 80, 0.411);
			z-index: 3;
		}
	}
	// .cards-portfolio__button
	&__button {
		span {
			color: #fff;
		}
		@media (max-width: $md3+px) {
			margin: 0px 0px 30px 0px;
		}
	}
}

/* свойства модального окна по умолчанию */
.modal {
	position: fixed; /* фиксированное положение */
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.5); /* цвет фона */
	z-index: 1050;
	opacity: 0; /* по умолчанию модальное окно прозрачно */
	-webkit-transition: opacity 200ms ease-in;
	-moz-transition: opacity 200ms ease-in;
	transition: opacity 200ms ease-in; /* анимация перехода */
	pointer-events: none; /* элемент невидим для событий мыши */
	margin: 0;
	padding: 0;
}
/* при отображении модального окно */
.modal:target {
	opacity: 1; /* делаем окно видимым */
	pointer-events: auto; /* элемент видим для событий мыши */
	overflow-y: auto; /* добавляем прокрутку по y, когда элемент не помещается на страницу */
}
/* ширина модального окна и его отступы от экрана */
.modal-dialog {
	position: relative;
	width: auto;
	margin: 10px;
}
@media (min-width: 576px) {
	.modal-dialog {
		max-width: 500px;
		margin: 30px auto; /* для отображения модального окна по центру */
	}
}
/* свойства для блока, содержащего контент модального окна */
.modal-content {
	position: relative;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	background-color: #fff;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 0.3rem;
	outline: 0;
}
@media (min-width: 768px) {
	.modal-content {
		-webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
		box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
	}
}
/* свойства для заголовка модального окна */
.modal-header {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding: 15px;
	border-bottom: 1px solid #eceeef;
}
.modal-title {
	margin-top: 0;
	margin-bottom: 0;
	line-height: 1.5;
	font-size: 1.25rem;
	font-weight: 500;
}
/* свойства для кнопки "Закрыть" */
.close {
	float: right;
	font-family: sans-serif;
	font-size: 24px;
	font-weight: 700;
	line-height: 1;
	color: #000;
	text-shadow: 0 1px 0 #fff;
	opacity: 0.5;
	text-decoration: none;
}
/* свойства для кнопки "Закрыть" при нахождении её в фокусе или наведении */
.close:focus,
.close:hover {
	color: #000;
	text-decoration: none;
	cursor: pointer;
	opacity: 0.75;
}
/* свойства для блока, содержащего основное содержимое окна */
.modal-body {
	position: relative;
	-webkit-box-flex: 1;
	-webkit-flex: 1 1 auto;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	padding: 15px;
	overflow: auto;
}

//</portfolio>=============================================================================================

//<Карта>============================================================================================================
.map {
	display: flex;
	justify-content: center;
	align-items: center;
	//position: relative;
	// .map__content
	&__content {
		width: 350px;
		height: 125px;
		z-index: 15;
		position: absolute;
		background-color: #ffffff;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		transform: translate(-120%, 70%);
	}
	// .map__title
	&__title {
		//color: #fff;
		font-size: 30px;
		font-family: $font-Family;
		padding: 10px 0px 10px 10px;
		text-align: center;
	}
}
.button {
}
//</Карта>============================================================================================================
